.ProseMirror table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
}

.ProseMirror th,
.ProseMirror td {
  position: relative;
  min-width: 40px;
  padding: 8px;
  border: 1px solid #ccc;
  user-select: text;
  background-color: #fff;
}

.ProseMirror th::after,
.ProseMirror td::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 4px;
  height: 100%;
  cursor: col-resize;
  background-color: transparent;
}

.ProseMirror th:hover::after,
.ProseMirror td:hover::after {
  background-color: rgba(0, 0, 0, 0.1);
}


.ProseMirror .column-resize-handle {
  position: absolute;
  right: -2px;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #555;
  z-index: 10;
  pointer-events: auto;
}


.tiptap.resize-cursor {
  cursor: col-resize;
}
