smart-gantt-chart {
  /* height: auto; */
  --smart-gantt-chart-task-default-height: 40px;
  --smart-gantt-chart-task-fill-border-radius: 2.5px;

  --smart-gantt-chart-project-color:  linear-gradient(-45deg, #11998e, #38ef7d);       
  --smart-gantt-chart-task-color: linear-gradient(-45deg, #36d1dc, #5b86e5);        
  --smart-gantt-chart-task-color-selected: linear-gradient(-45deg, #f7971e, #ffd200);

  --smart-gantt-chart-task-label-color: white;
  --smart-gantt-chart-task-label-color-selected: white;
  --smart-gantt-chart-project-label-color: white;
  --smart-gantt-chart-project-label-color-selected: white;

  --smart-gantt-chart-task-tree-splitter-bar-fit-size: var(--smart-gantt-chart-task-default-height);
}

/* smart-gantt-chart .smart-gantt-chart-connection-line {
  z-index: 1000 !important;
  stroke: orange !important;
  stroke-width: 2px !important;
  pointer-events: none;
} */

.smart-gantt-chart .smart-task-connection:after {
  border-width: 0 !important;
}

/* Ẩn watermark từ Smart HTML Elements */
#watermark {
  display: none !important;
}


smart-menu {
  --smart-menu-vertical-default-width: 100px;
  --smart-menu-vertical-default-height: auto;
}

.smart-menu .smart-menu-item-label-container {
  padding: 10px 20px 10px 20px;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v31/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  margin-right: 5px;
  font-size: 16px;
}

/* Tuỳ chọn: gắn class này nếu cần xoá luôn phần background trắng */
.no-smart-style {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

/* Xử lý phần content SmartWindow */
.smart-content {
  padding: 0 !important;
  background: transparent !important;
  border: none !important;
}

/* Tùy chọn: căn giữa nội dung popup nếu cần */
.smart-window[smart-id] {
  display: flex;
  justify-content: center;
  align-items: center;
}

.smart-window .smart-content-container {
  display: block !important;
}
